{
  "name": "@depact/cli-${PKG_OS}-${NODE_CPU}",
  "version": "${VERSION}",
  "description": "The ${PKG_OS}-${NODE_CPU} binary for depact",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/colinlienard/depact.git"
  },
  "license": "MIT",
  "os": ["${NODE_OS}"],
  "cpu": ["${NODE_CPU}"],
  "files": ["bin"]
}
